<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- 禁用客戶端模擬 -->
        <identity impersonate="false" />
    </system.web>

    <system.webServer>
        <!-- 禁用整合模式配置驗證 -->
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
</configuration>